# Copyright Myles Trevino
# Licensed under the Apache License, Version 2.0
# http://www.apache.org/licenses/LICENSE-2.0


last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
not IE 11
